ul.card-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  li.card {
    width: 33%;
    text-align: left;
    margin: 2ex;

    a {
      text-decoration: none;
      color: inherit;

      img {
        width: 100%;
        height: 20vh;
        transform: scale(1);
        transition: all 0.2s ease-in;
        
        &:hover {
          transform: scale(1.05);          
        }
      }

      .image {
        height: 100%;
        margin-bottom: 1ex;
        overflow: hidden;
      }

      .title {
        font-size: large;
        position: relative;
        width: fit-content;
      }

      .subtitle {
        font-size: small;
        position: relative;
        width: fit-content;
      }
    }
  }

  @media (min-width: 769px) {
    li.card {
      width: 33%; 
    }
  }
  @media (max-width: 768px) {
    li.card {
      width: 25%;
    }
  }
}
