
// Achievement layout
#layout-achievement {
  padding: 0 5vh 10vh;

  .pickup {
    position: relative;
    text-align: left;
    margin-bottom: 48px;

    .image {
      width: 50%;
      position: relative;

      img {
        width: 100%;
        position: relative;
      }
    }

    .card {
      position: absolute;
      width: 45%;
      padding: 5%;
      background-color: #fff;
      right: 0;
      top: 3ex;
      margin: 2% 0;

      .title {
        font-size: x-large;
        margin: 3px 0;
      }

      .subtitle {
        font-size: small;
        margin: 2ex 0;
      }

      .description {
        font-size: medium;
        margin: 2ex 0;
      }
    }
  }
}
