
// Achievement layout
#layout-achievement {

  .pickup {
    position: relative;
    text-align: left;

    .image {
      position: relative;

      img {
        width: 100%;
        position: relative;
      }
    }

    .card {
      position: absolute;
      padding: 5%;
      background-color: #fff;
      right: 0;

      .title {
        font-size: x-large;
        margin: 3px 0;
      }

      .subtitle {
        font-size: small;
        margin: 2ex 0;
      }

      .description {
        font-size: medium;
        margin: 2ex 0;
      }
    }
  }

  @media (min-width: 769px){
    padding: 0 5vh 10vh;

    .pickup {
      margin-bottom: 48px;
      .image {
        width: 50%;
      }
      .card {
        width: 45%;
        top: 3ex;
        margin: 2% 0;
      }
    }
  }

  @media (max-width: 768px){
    .pickup {
      margin-bottom: 20vh;
      .card {
        top: 50%;
        margin: 5%;
      }
    }
  }
}
