
// Achievement layout
#layout-achievement {

  .pickup {
    position: relative;
    text-align: left;
    margin-bottom: 20vh;

    .image {
      position: relative;

      img {
        width: 100%;
        position: relative;
      }
    }

    .card {
      position: absolute;
      padding: 5%;
      margin: 5%;
      background-color: #fff;
      right: 0;
      top: 50%;

      .title {
        font-size: x-large;
        margin: 3px 0;
      }

      .subtitle {
        font-size: small;
        margin: 2ex 0;
      }

      .description {
        font-size: medium;
        margin: 2ex 0;
      }
    }
  }
}
