.App {
  text-align: center;
  background-color: #eee;
  height: 100vh;
  box-sizing: border-box;
}

/* ------------ 共通 ------------ */
.contents {
  background-color: #eee;

  &-title {
    text-align: left;
    margin-bottom: 4ex;

    .title {
      font-size: x-large;
      font-weight: bold;
      border-bottom: 3px solid blue;
      margin: 1ex 0;
      width: fit-content;
    }

    .description {
      font-size: large;
      padding: 1ex 0;
    }
  }

  &-main {
    padding: 5ex 10px 10px 10px;
    margin: 10px 0px;
  }

  &-show-all {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: inherit;

    .text {
      margin-right: 5px;
    }
  }

  @media (min-width: 769px) {
    &-title {
      padding: 5ex 10px 10px 10px;
    }
  
  }
  @media (max-width: 768px) {
    &-title {
      padding: 5px;
    }  
  }
}

/* ------------ コンポーネント ------------ */

#layout-main-view {
  padding-top: 70px;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-theme {
      text-align: left;
      width: 100%;

      h1 {
        display: flex;
        overflow: hidden;
        span {
          display: block;
          transform: translate(0, 105%);
          transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
        }
      }

      &.fade-in span {
        transform: translate(0, 0);

        // インデックスに応じて遅延時間を設定する
        @for $i from 2 through 36 {
          &:nth-child(#{$i}) {
            transition-delay: #{0.04 * ($i - 1)}s;
          }
        }
      }

      h1 {
        font-size: x-large;
      }

      h2 {
        font-size: x-small;
      }
    }

    &-slideshow {
      position: relative;
      width: 100%;
      height: 40vh;
      overflow: hidden;

      .slideshow {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        position: relative;

        .slide {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 2s ease-in-out, transform 15s ease-in-out;
          transform: scale(1.1);

          img {
            width: 100%;
            height: 100%;
          }
        }

        .slide.active {
          opacity: 1;
          transition: opacity 3s ease-in-out, transform 15s ease-in-out;
          transform: scale(1);
        }
      }

      .paging {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;

        .dot {
          width: 10px;
          height: 10px;
          border: #fff solid 1px;
          border-radius: 50%;
          margin: 0 5px;
          cursor: pointer;
        }

        .dot.active {
          background-color: #fff;
        }
      }
    }
  }

  .company-description {
    text-align: left;
    font-size: small;
  }

  .important-info {
    text-align: left;
    background-color: #fff;
    font-size: small;
  }

  @media (min-width: 769px) {
    .main {
      flex-direction: row;
      &-theme {
        margin-left: 50px;
      }
    }
    .company-description {
      margin: 2ex;
      padding: 10px;
    }
    .important-info {
      margin-left: 7ex;
      padding: 13px 7ex;
      width: 85%;
    }
  }

  @media (max-width: 768px) {
    .main {
      flex-direction: column;
      &-theme {
        box-sizing: border-box;
        padding: 0 20px;
      }
    }
    .company-description {
      margin: 2ex;
      padding: 10px;
    }
    .important-info {
      box-sizing: border-box;
      margin: 4ex;
      padding: 20px;
    }
  }
}
