// Footer layout
#layout-footer {
  .contact-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #eee;
  }
  
  .title {
    font-size: x-large;
    font-weight: bold;
  }
  @media (min-width: 769px) {
    .contact-area {
      padding: 12vh 5vh;
    }

    .nav-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3vh 0;
      font-size: x-small;

      .copyright {
        width: 100%;
        text-align: right;
        padding-right: 5%;
        color: #999;
      }
    }
  }

  // モバイル用
  @media (max-width: 768px) {
    .contact-area {
      padding: 6vh 5vh;
    }

    .nav-area {
      display: flex;
      flex-direction: column;
      padding: 3vh 0;
      font-size: x-small;
    }
  }
}
