.App {
  text-align: center;
  background-color: #EEE;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ==================================================================================== */
#layout-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0);
}

.header {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
}

.site-logo-area {
  display: flex;
  justify-content: left;
  margin-left: 50px;
}

img.site-logo {
  width: 100px;
  height: auto;
}

.nav-area {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px;
  font-size: x-small;
  margin-right: 30px;
}

ul.nav-main{
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 10px;
}

li.nav-item {
  margin: 0 10px 0 10px;
}

.contact{
  background-color: #282c34;
  color: #fff;
  padding: 5px 15px;
  border-radius: 15px;
}

.contents {
  padding: 20px 0 20px 20px;
  background-color: #EEE;
}

#layout-main-view {
  padding-top: 70px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-theme {
  text-align: left;
  margin-left: 50px;
  width: 100%;
}

.main-theme h1 {
  font-size: x-large;
}

.main-theme h2 {
  font-size: x-small;
}

.main-slideshow {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.slideshow {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

li.slide img {
  width: 100%;
  height: 100%;
}

.slide.active {
  opacity: 1;
}

.paging {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
}

.paging .dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.paging .dot.active {
  background-color: #333;
}

.company-description {
  margin: 5ex;
  text-align: left;
  font-size: x-small;
  padding: 10px;
}

.important-info {
  width: 85%;
  margin-left: 7ex;
  text-align: left;
  background-color: #fff;
  font-size: x-small;
  padding: 13px 7ex;
}

.content-title {
  text-align: left;
  padding: 10px;
  margin-bottom: 4ex;
}

.content-title .title {
  font-size: x-large;
  font-weight: bold;
  border-bottom: 3px solid blue;
  margin: 1ex 0;
  width: fit-content;
}

.content-title .description {
  font-size: large;
  padding: 1ex 0;
}

.content-main {
  padding: 5px;
  margin: 10px 0px;
}

#layout-service {
  padding: 0 5vh;
}

#layout-service .content-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.headline-list {
  position: relative;
  text-align: left;
  width: 60%;
  height: 100%;
}

.headline-list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-right: 4ex;
  height: 100%;
}

.headline-list li {
  border-top: 1px solid #CCC;
  height: 25%;
}

.headline-list li:last-child {
  border-bottom: 1px solid #CCC;
}

.headline-title {
  padding: 3ex 4ex 1ex 20px;
  font-size: medium;
  font-weight: bold;
}

.headline-description {
  padding: 1ex 3ex;
  font-size: small;
}

.headline-image {
  position: relative;
  width: 40%;
  height: 100%;
}

.headline-image img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-show-all {
  text-align: right;
}